


BODY
{
    FONT-SIZE: 10pt;
    MARGIN: 0px;
    FONT-FAMILY: Arial;
}
A 
{
    COLOR: blue;
    TEXT-DECORATION: underline;
	font-Size:1;
}
Table
{
	border-collapse:collapse;
}
TD
{
	padding-left:4px;
}
.SortLinks A
{
	COLOR: blue;
    TEXT-DECORATION: none;	
}
.GridViewButton 
{
	
	margin-top:0px;
	margin-bottom: 1px;
	padding-bottom: 4px;
	Margin-right: 4px;
	PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-SIZE: 8pt;
    HEIGHT:19px;
    FONT-FAMILY: Arial;
}

.GridView TD, TH
{
  white-space:nowrap;
	PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    BORDER-TOP: white 1px solid;
    BORDER-BOTTOM: white 1px solid;
    border-collapse:collapse;
}
.DetailsView TD, TH
{
	white-space:nowrap;
	PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    BORDER-TOP: white 1px solid;
    BORDER-BOTTOM: white 1px solid;
    border-collapse:collapse;
}
.Calendar TD, TH
{
  white-space:nowrap;
	PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    BORDER-TOP: white 0px solid;
    BORDER-BOTTOM: white 0px solid;
    border-collapse:collapse;
}